myproject*/
streamblocks-examples/
.vscode/
capture.txt
*results*/
__pycache__/
time.log
fpga_param_experiments*/
fpga_scaling_experiments*/
fpga_experiments*/
vivado*
addMoreTestbenchesToProject.tcl
